.bg
{
    background-image: url(../images/bg.jpg);
    height:800px ;
    background-repeat: no-repeat;
    position: relative;
}
.nav1
{
    position: absolute;
    width: 60%;
    left: 20%;
    right: 20%;
    background-color:rgba(73, 180, 238, 0.52);

}
.nav1 ul li:hover{background-color: tomato;border-radius: 10%; transition: all 0.5s;}

.section-header
{
    position: absolute;
    bottom:0%;
    left: 5%;
    right: 5%;
    width: 90%;
    background-color:rgba(73, 180, 238, 0.52);

}
.one:hover{
    background-color: rgba(235, 131, 93, 0.7);
}
.two:hover{
    background-color: rgba(38, 194, 129, 0.7);
}
.photo
{
    background-image: url(../images/process-bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height:600px;
}
.cover1
{
    background-image: url(../images/p-bg1.jpg);
}
.cover2
{
    background-image: url(../images/p-bg2.jpg);
}
.cover3
{
    background-image: url(../images/p-bg3.jpg);
}
.cover4
{
    background-image: url(../images/p-bg4.jpg);
}

